name: CD
on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  CD:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v4
      with:
        node-version: '24'
        registry-url: 'https://registry.npmjs.org/'

    - run: ./bin/setup
    - run: ./bin/build
    - run: ./bin/publish
